*{
    margin: 0;
    padding: 0;
}

.counter{
     min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container,.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #065F46;
    border-radius: 20px;
    width: 50%;
    padding: 30px;
    text-align: center;
}
.container-card{
    width: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;

}
.container-card h1{
    color: #065F46;
    margin-top: 10px;
}
.container-card h2{
    margin-top: 10px;
}
.container-card p{
    margin-top: 10px;
}
.btn{
    margin-top: 10px;
    margin-bottom: 30px;
}
.incre-btn,.decre-btn,.reset-btn{
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    color: white;
    cursor:pointer;
}
.number.increment{
    color:#0ba543
}
.number.decrement{
    color: red;
}
.number.zero{
    color: #475569;
}
.incre-btn{
    background-color: #0ba543;
}
.decre-btn{
    background-color: red;
}
.reset-btn{
    background-color: #475569;
}
@media screen and (max-width:800px){
 
  h1{
        font-size: 25px;
    }
}
@media screen and (max-width: 480px) {
    h1{
        font-size: 20px;
    }
}   
