*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.counter{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container,.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #065F46;
    border-radius: 20px;
    width: 50%;
    padding: 30px;
    text-align: center;
}
.container-card{
    width: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;

}
.container-card h1{
    color: #065F46;
    margin-top: 10px;
}
.container-card h2{
    margin-top: 10px;
}
.container-card p{
    margin-top: 10px;
}
.btn{
    margin-top: 10px;
}
.incre-btn,.decre-btn,.reset-btn{
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    color: white;
    cursor:pointer;
}
.number.increment{
    color:#0ba543
}
.number.decrement{
    color: red;
}
.number.zero{
    color: #475569;
}
.incre-btn{
    background-color: #0ba543;
}
.decre-btn{
    background-color: red;
}
.reset-btn{
    background-color: #475569;
}
@media screen and (max-width: 800px) {
    .container-card h1{
        font-size: 18px;
    }
    *{
        font-size: 12px
    }
    .incre-btn,.decre-btn,.reset-btn{
        width: 150px;
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    .container-card h1{
        font-size: 12px;
    }
    *{
        font-size: 8px;
    }
    .incre-btn,.decre-btn,.reset-btn{
        width: 120px;
        padding: 5px;
        border-radius: 5px;
    }
    .counter{
        min-height: 100svh;
    }
}

