* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.random {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-random,
.random-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.random-card h2{
    color:#065F46;
}
.container-random {
    background-color:  #D1FAE5;
    border-radius: 20px;
    width: 80%;
    height: 500px;
    padding: 30px;
    text-align: center;
}
.home-link i{
    font-size: 30px;
    color: #065F46;
}
.fa-solid.fa-house:hover{
    color: #57d895;
}
.random-card {
    width: 80%;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;

}
.random-card h1{
    color:#065F46;
    margin-top:30px;
}
.button {
    width: 200px;
    margin-top: 30px;
    background-color: #D1FAE5;
    color: #065F46;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: #059669;
    color: white;
}

@media screen and (max-width: 800px) {
    .random-card h1{
        font-size: 20px;
    }
    
    .button{
        width: 190px;
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    .random-card h1{
        font-size: 15px;
    }
   
    .button{
        width: 170px;
    }
    .random{
        min-height: 100svh;
    }
}
