* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.random {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container,
.container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-card h2{
    color:#065F46;
}
.container {
    background-color:  #D1FAE5;
    border-radius: 20px;
    width: 50%;
    padding: 30px;
    text-align: center;
}

.container-card {
    width: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;

}
.container-card h1{
    color:#065F46;
}
.button {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #D1FAE5;
    color: #065F46;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .container-card h1{
        font-size: 18px;
    }
    *{
        font-size: 12px
    }
    .button{
        width: 150px;
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    .container-card h1{
        font-size: 12px;
    }
    *{
        font-size: 8px;
    }
    .button{
        width: 120px;
        padding: 5px;
        border-radius: 5px;
    }
    .random{
        min-height: 100svh;
    }
}
